@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

*,
* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #3a3a3a;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input {
  display: block;
  width: 100%;
}

a {
  cursor: pointer;
  color: #3a3a3a;
}
